#    CARGA DE DATOS A TRAVES DE LA FUNCION CSV

In [6]:
%config IPCompleter.greedy=True

In [22]:
import pandas as pd
import os

In [28]:
mainPath = "/users/comercial_01/Documents/GitHub/python-ml-course/datasets"
fileName = "titanic/titanic3.csv"

fullpath = mainPath + "/" + fileName  //Puede ser asi, pero en mejor utilizar como funcion como se muestra a continuacion

In [30]:
fullpath = os.path.join(mainPath,fileName)

In [26]:
data = pd.read_csv(fullpath)

In [31]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# PARAMENTROS DE LA FUNCION read_cv

In [ ]:
read_csv(filepath_or_buffer = "/users/comercial_01/Documents/GitHub/python-ml-course/datasets/titanic/titanic3.csv",sep=",", 
            dtype = ("ingesos":np.float64,"edad":np.int32), header=0,names=("ingresos","edad"), skiprows=12, index_col=None, 
            skip_blank_lines=True/False,na_filter=True,
           )

In [33]:
data2 = pd.read_csv(filepath_or_buffer=os.path.join(mainPath, "customer-churn-model/Customer Churn Model.txt"))

In [34]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [35]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [51]:
data2Cols=pd.read_csv(mainPath+"/"+"customer-churn-model\Customer Churn Columns.csv")
#data2Cols.head()

In [49]:
data2ColList=data2Cols["Column_Names"].tolist()

In [52]:
data2=pd.read_csv(mainPath+"/"+"customer-churn-model/Customer Churn Model.txt",header=None, names=data2ColList)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

In [53]:
data2.head()

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.

# CARGA DE DATOS A TRAVES DE LA FUNCION OPEN

In [122]:
fileName = "customer-churn-model/Customer Churn Model.txt"

In [163]:
fullpath = os.path.join(mainPath,fileName)

In [164]:
data3 = open(fullpath,"r")

In [165]:
cols = data3.readline().strip().split(",")

In [166]:
n_cols = len(cols)
n_cols

21

In [167]:
counter = 0
main_dict={}

In [168]:
for col in cols:
    main_dict[col]=[]

#print(main_dict)

In [171]:
for line in data3:
    values = line.strip().split(",")
    #print(values)
    for i in range(n_cols):
        main_dict[cols[i]].append(values[i])
    counter += 1
    
print("El dataset tiene %d filas y %d columnas"%(counter,n_cols))

El dataset tiene 3333 filas y 21 columnas

In [172]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.