# CARGA DE DATOS A TRAVES DE LA FUNCION READ_CSV

In [27]:
import pandas as pd
import numpy as np
import os

In [29]:
mainPath="/Users/rafael/Documents/GitHub/python-ml-course/datasets/"
filename="titanic/titanic3.csv"
fullPath=os.path.join(mainPath,filename)

In [30]:
data = pd.read_csv(fullPath)

In [31]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Ejemplos de Parametros de la Funcions read_csv

read.csv(filepath="/Users/rafael/Documents/GitHub/python-ml-course/datasets/titanic/titanic3.csv", sep=",", dtype=("ingresos":np.int64,"edad":np.int32), header=0, names=("ingresos", "edad"), skiprows=12, index_col=None, skip_blank_lines=False, na_filter=False)